html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

main {
    display: flex;
    justify-content: center;
}

button {
    font-size: 3em;
    gap: 1em;
    cursor: pointer;
    border-radius: 0.3em;
}

button:hover {
    /* color: black; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
} 

div {
    align-items: center;
    display: flex; /* Add display flex */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for element size */
    justify-content: center;
    gap: 1em;
    width: 100%; /* Take full width */
}

/* Mobile view */
@media (max-width: 768px) {
    div {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center items horizontally */
    }
}